<main>
  <article class="article1">
    <header>
      <img src="assets/temperature.png" alt="Thermometer icon"/>
      <div>
        <h2>Current Temperature</h2>
        <p>{{currentDate}}</p>
      </div>
      </header>
      <p>New York:{{currentTemperature.newYork}}</p>
      <p>Berlin:{{currentTemperature.berlin}}</p>
      <p>Paris:{{currentTemperature.paris}}</p>
      <p>Chicago:{{currentTemperature.chicago}}</p>


    </article>
<article>
  <header>
    <img src="assets/temperature.png" alt="Thermometer icon"/>
    <div>
      <h2>
        Historic Temperature
      </h2>
      <p>Berlin</p>
    </div>
    </header>
    <ul>
      @for(temperature of historicTemperatures; track temperature){
        <li>{{temperature}}</li>
      }
    </ul>
  </article>
</main> 